<!doctype html>
<html>
  <head>
    <title>f1le - files</title>
    <link rel="stylesheet" type="text/css" href="styles/shared.css">
    <link rel="stylesheet" type="text/css" href="styles/files.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="images/icon.png" />
    <meta name="viewport" content="width=750px">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="scripts/pentagons.js"></script>
    <script src="scripts/files.js"></script>
    <script src="scripts/dialog.js"></script>
  </head>
  <body>
    <canvas id="pentagons"></canvas>
    <a id="back" href="/">Home</a>
    <div id="files">
      {{#files}}
      <div class="file">
        <input type="hidden" value="{{id}}" class="file-id">
        <div class="file-contents">
          <img class="file-icon" src="{{icon}}" />
          <label class="file-name">{{name}}</label>
          <label class="file-size">{{size}}</label>
          <a class="download" href="/get/{{id}}">Download</a>
        </div>
        <button class="delete"
          onclick="javascript:window.app.files.delete('{{id}}')"></button>
      </div>
      {{/files}}
      {{^files}}
      <div class="no-files">No files.</div>
      {{/files}}
    </div>
  </body>
</html>