body {
  background-color: #f2f2f2;
  text-align: center;
}

#back {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: transparent;
  background-image: url('../images/uparrow.png');
  background-size: 64px 64px;
  cursor: pointer;
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}

.file {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.file-contents {
  display: inline-block;
  width: 600px;
  padding: 10px 10px 10px 10px;
  background: white;
  text-align: left;
  line-height: 32px;
}

.file-icon {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.file-name {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  
  /* Dot out names that are too long. */
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.download {
  height: 32px;
  width: 120px;
  float: right;
  
  border: none;
  background-color: #71e586;
  color: white;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.delete {
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: transparent;
  background-image: url('../images/delete.png');
  background-size: 20px 20px;
  visibility: hidden;
  pointer-events: none;
}

.file:hover .delete {
  cursor: pointer;
  visibility: visible;
  pointer-events: auto;
}

.no-files {
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
