body {
  background-color: #f2f2f2;
  text-align: center;
}

#back {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-image: url('../images/logoicon.png');
  background-size: 100% 100%;
  cursor: pointer;
  line-height: 0; 
  font-size: 0;
  color: transparent;
  opacity: 0.8;
}

#back:hover {
  opacity: 1;
}

#files {
  display: inline-block;
  width: calc(100% - 100px);
  max-width: 900px;
  margin-left: 50px;
}

.file-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.file-table .close-td {
  width: 50px;
  text-align: right;
}

.file-table td, .file-table tr {
  padding: 0;
  margin: 0;
}

.file {
  font-size: 18px;
  width: calc(100% - 30px);
  display: inline-block;
  text-align: center;
  
  padding: 15px 15px 15px 15px;
  background: white;
  text-align: left;
  line-height: 32px;
  border-radius: 5px;
  
  box-shadow: 2px 2px 5px rgba(144, 144, 144, 0.5);
}

.file-icon {
  float: left;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.file-name {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  
  color: black;
  text-decoration: none;
  
  /* Dot out names that are too long. */
  max-width: calc(100% - 250px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-size {
  float: left;
  color: #979797;
}

.download {
  height: 32px;
  width: 120px;
  float: right;
  
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  color: white;
  
  border: none;
  background-color: #71e586;
  cursor: pointer;
}

.delete {
  width: 32px;
  height: 32px;
  
  margin: 0;
  padding: 0;
  
  border: none;
  background-color: transparent;
  background-image: url('../images/delete.png');
  background-size: 32px 32px;
  
  visibility: hidden;
  pointer-events: none;
}

.delete:focus {
  outline: 0;
}

.file-table:hover .delete {
  cursor: pointer;
  visibility: visible;
  pointer-events: auto;
}

.no-files {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: #777;
}
