#circle-status {
  position: absolute;
  font-size: 2em;
  width: 10em;
  top: 4.5em;
  text-align: center;
  color: white;
}

#upload-view {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

#files-link {
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 32px);
  
  width: 64px;
  height: 64px;
  background-color: transparent;
  background-image: url('../images/downarrow.png');
  background-size: 64px 64px;
  cursor: pointer;
  
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}
