#circle-status {
  position: absolute;
  font-size: 2em;
  width: 10em;
  top: 4.5em;
  text-align: center;
  color: white;
}

#upload-view {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

#files-link {
  display: block;
  position: absolute;
  
  background-color: transparent;
  background-image: url('../images/logoicon.png');
  background-size: 100% 100%;
  cursor: pointer;
  
  opacity: 0.8;
  
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}

#files-link:hover {
  opacity: 1;
}

#file-input {
  position: fixed;
  visibility: hidden;
}
